.ContainerClass {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10vh;
}

.PaperClass {
    margin-top: 30px;
    display: flex;
    min-width: 370px;
    max-width: 370px;
    min-height: 400px;
    max-height: 600px;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 20px 10px 10px 10px;
}

.Title {
    padding: 30px;
}

.TitleGrid {
    padding: 30px;
    width: 100%;
    /*overflow: auto;*/
}

.Button {
    padding: 35px;
}

.ProjectsList {
    width: 100%;
    overflow: auto;
}

.LoginInputText {
    height: 70px;
    width: 70%;
    overflow: auto;
}