.MuiPaper-root {
    min-width: 20vw;
    max-width: 50vw;
}

.MuiStack-root {
    min-height: 70vh;
    min-width: 30vw;
}

.TitleGrid {
    padding: 30px;
    width: 100%;
    /*overflow: auto;*/
}

.BackLink {
    width: 100%;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}